---
import BaseLayout from '../layouts/BaseLayout.astro'
import Content from '../components/Content.astro'
import { IoChevronForwardCircleOutline } from 'react-icons/io5';

---

<BaseLayout>
  <Content classNames={'py-32'}>
    <section class="pt-32">
      <h1 class="text-3xl text-center mt-16 mb-8">Oops, page not found</h1>
      <div class="text-center py-4">
        <a class="inline-flex items-center gap-1 underline-offset-2 decoration-sky-500" href="/">
          Go to home
          <IoChevronForwardCircleOutline />
        </a>
      </div>
    </section>
  </Content>
</BaseLayout>
