---
import BaseLayout from '../layouts/BaseLayout.astro'
import Masthead from '../components/Masthead.astro'
import Content from '../components/Content.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import SeeMore from '../components/SeeMore.astro'

const projects = (await Astro.glob('./projects/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubdate).valueOf()
)
---

<BaseLayout>
  <Masthead />
  <Content>
    <Section
      id="projects"
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
      location={'/projects'}
    >
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          projects
            .slice(-3)
            .map(project => (
              <Project
                url={project.url ?? '/'}
                title={project.frontmatter.title}
                description={project.frontmatter.description}
                heroImage={project.frontmatter.heroImage}
              />
            ))
        }
        <SeeMore location={'/projects'} />
      </ul>
    </Section>

    <Section
      id="works"
      title="Works"
      subtitle={`Here&apos;s some <span class="font-bold">works</span> I&apos;ve made in web development for <span class="font-bold">business</span> or personal projects that I&apos;ve been working on.`}
    />

    <Section id="about" title="About me" />
  </Content>
</BaseLayout>
