---
import BaseLayout from '../layouts/BaseLayout.astro'
import Masthead from '../components/Masthead.astro'
import Content from '../components/Content.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import SeeMore from '../components/SeeMore.astro'
import { supabase } from '../database'

let { data: projects, error } = await supabase
  .from('projects')
  .select('*')
  .limit(3)
---

<BaseLayout>
  <Masthead />
  <Content>
    <Section
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
      location={'/projects'}
    >
      {
        error ? (
          <div class="text-center">
            <p class="text-2xl font-bold">Something went wrong</p>
            <p class="text-xl">Please try again later</p>
          </div>
        ) : (
          projects && (
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              {projects.map(project => (
                <Project project={project} />
              ))}
              <SeeMore location={'/projects'} />
            </ul>
          )
        )
      }
    </Section>

    <Section
      title="Works"
      subtitle={`Here&apos;s some <span class="font-bold">works</span> I&apos;ve made in web development for <span class="font-bold">business</span> or personal projects that I&apos;ve been working on.`}
    />

    <Section title="About me" />
  </Content>
</BaseLayout>
