---
import BaseLayout from '../layouts/BaseLayout.astro'
import Content from '../components/Content.astro'
import Section from '../components/Section.astro'
import ProjectCompact from '../components/ProjectCompact.astro'
import PillsFilterButtons from '../components/PillsFilterButtons'

const projects = (await Astro.glob('./projects/*.md')).sort((a, b) => {
  return a.frontmatter.title > b.frontmatter.title ? 1 : -1
})

---

<BaseLayout>
  <Content classNames={'mt-12'}>
    <Section
      id="projects"
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
    >
      <!-- <div class="flex flex-wrap gap-2 mb-4">
        <PillsFilterButtons client:load/>
      </div> -->
      <ul class="grid grid-cols-1 gap-4">
        {
          projects.map(project => (
            <ProjectCompact
              url={project.url ?? '/projects'}
              title={project.frontmatter.title}
              description={project.frontmatter.description}
              heroImage={project.frontmatter.heroImage}
            />
          ))
        }
      </ul>
    </Section>
  </Content>
</BaseLayout>
