---
const today = new Date()
---

<footer class="text-zinc-500 p-4 mt-5 text-center">
  &copy; {today.getFullYear()}
  <a class="text-sky-400/60" href="mailto:mehdi@gelk.fr">Mehdi Ghoulam.</a>
  All rights reserved.
</footer>
