<section class="mb-6 h-[45vh] flex flex-col justify-center items-center gap-5">
  <div class="z-10 px-8 drop-shadow-lg shadow-black font-rubik">
    <h2 class="text-xl">Hey, I&apos;m</h2>
    <h1 class="text-6xl">Mehdi Ghoulam</h1>
  </div>
  <p class="w-2/4 pl-2 border-l-2 border-sky-600">
    MMI student at the University of Corsica, I am passionate about web
    development. I&apos;d would like to be a <span
      class="text-sky-600 font-bold">fullstack developer</span
    > and build things for the mobile <span class="text-sky-600 font-bold"
      >&</span
    > web.
  </p>
</section>
