---
import { Image } from '@astrojs/image/components'
import { IoArrowForward } from 'react-icons/io5'

type Props = {
  url: string
  title: string
  description: string
  heroImage: string
}

const { url, title, description, heroImage } = Astro.props
---

<li class="mb-4">
  <a href={url}>
    <Image
      class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
      src={heroImage || '/placeholder-hero.jpg'}
      alt="Project Thumbnail"
      format={'webp'}
      width={1280}
      height={780}
      aspectRatio={2.0}
    />
    <h3 class="text-2xl font-bold truncate">{title}</h3>
    <p class="mt-1 opacity-70 overflow-hidden lineclamp-3">
      {description}
    </p>
    <button class="inline-flex items-center gap-1 text-sky-600">
      Read More <IoArrowForward />
    </button>
  </a>
</li>
