---
import { Image } from '@astrojs/image/components'
import { IoArrowForward } from 'react-icons/io5'

interface Props {
  title: string
  body: string
}
const { title, body } = Astro.props
---

<li class="mb-4">
  <a href="">
    <Image
      class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
      src="https://picsum.photos/1920/1080"
      alt="Project Thumbnail"
      format={'webp'}
      width={1920}
      height={1080}
      aspectRatio={16 / 9}
    />
    <h3 class="text-2xl font-bold truncate">{title}</h3>
    <p class="mt-2 opacity-70 overflow-hidden lineclamp-3">
      {body}
    </p>
    <button class="inline-flex items-center gap-1 text-sky-600">
      Read More <IoArrowForward />
    </button>
  </a>
</li>
