---
import { Image } from '@astrojs/image/components'

type Props = {
  url: string
  title: string
  subtitle: string
  description: string
  heroImage: string
  reverse?: boolean
}

const { url, title, subtitle, description, heroImage, reverse = false } = Astro.props
---

<li class="mb-4">
  <a href={url} class=`flex gap-3 w-full ${reverse && 'flex-row-reverse'}`>
    <div class=`flex flex-col ${reverse ? 'items-end' : 'items-start'}`>
      <h3 class=`text-2xl font-bold w-5/6 ${reverse ? 'border-r-2 pr-2 text-end' : 'border-l-2 pl-2'} border-red-500`>{title}</h3>
      <h5 class="mb-1 font-light text text-slate-500 dark:text-slate-300">{subtitle}</h5>
      <p class=`mb-2 opacity-70 overflow-hidden w-11/12 text-justify`>
        {description}
      </p>
      <button class="border-2 border-sky-600 rounded-md py-1 px-2 text-sm text-sky-600">
        View project
      </button>
    </div>
    <Image
      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
      src={heroImage || '/placeholder-hero.jpg'}
      alt="Project Thumbnail"
      format={'webp'}
      width={400}
      height={250}
      aspectRatio={2.0}
    />
  </a>
</li>
