---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Content from '../../components/Content.astro'
import Section from '../../components/Section.astro'
import Project from '../../components/Project.astro'

interface Project {
  id: string
  title: string
  body: string
  userId: string
  tags: string[]
  reactions: number
}

const projectsRequest = await fetch(
  'https://dummyjson.com/posts?limit=5&skip=68'
)
const projects = (await projectsRequest.json()).posts as Project[]
---

<BaseLayout>
  <Content>
    <Section
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
    >
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          projects.map(project => (
            <Project
              id={project.id}
              body={project.body}
              title={project.title}
            />
          ))
        }
      </ul>
    </Section>
  </Content>
</BaseLayout>
