---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Content from '../../components/Content.astro'
import Section from '../../components/Section.astro'
import Project from '../../components/Project.astro'
import { supabase } from '../../database'

let { data: projects, error } = await supabase.from('projects').select('*')
---

<BaseLayout>
  <Content classNames={'mt-12'}>
    <Section
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
    >
      {
        error ? (
          <div class="text-center">
            <p class="text-2xl font-bold">Something went wrong</p>
            <p class="text-xl">Please try again later</p>
          </div>
        ) : (
          projects && (
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              {projects.map(project => (
                <Project project={project} />
              ))}
            </ul>
          )
        )
      }
    </Section>
  </Content>
</BaseLayout>
