---
import { Image } from '@astrojs/image/components'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Content from '../components/Content.astro'

interface Props {
  content: {
    title: string
    description: string
    heroImage: string
  }
}

const {
  content: { title, description, heroImage }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-16">
      <Content classNames={'mt-12'}>
        <div class="mb-8">
          <Image
            class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
            src={heroImage ?? '/placeholder-social.jpg'}
            alt="Project Thumbnail"
            format={'webp'}
            width={1920}
            height={1080}
            aspectRatio={16 / 9}
          />
        </div>
        <h1 class="text-3xl mb-3 font-rubik">{title}</h1>
        <p class="mb-2">{description}</p>
        <hr class="my-3 border-top border-zinc-400" />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
