---
import { Image } from '@astrojs/image/components'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Content from '../components/Content.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="pt-16">
      <Content>
        <div class="mb-8">
          <Image
            class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
            src="https://picsum.photos/1920/1080"
            alt="Project Thumbnail"
            format={'webp'}
            width={1920}
            height={1080}
            aspectRatio={16 / 9}
          />
        </div>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
